
*.xml

GeoRaceApp/.idea/copyright/profiles_settings.xml

GeoRaceApp/.idea/.name

GeoRaceApp/.idea/.name

GeoRaceApp/.idea/compiler.xml

GeoRaceApp/.idea/copyright/profiles_settings.xml

GeoRaceApp/.idea/encodings.xml

GeoRaceApp/.idea/gradle.xml

GeoRaceApp/.idea/misc.xml

GeoRaceApp/.idea/modules.xml

GeoRaceApp/.idea/scopes/scope_settings.xml

GeoRaceApp/.idea/vcs.xml
